<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send2me - sharing files</title>

    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <main class="container">
         {% if message %}
            <div class="alert {{ type }}">
            <span class="material-symbols-rounded">{% if type == 'success' %}check_circle{% else %}error{% endif %}</span>
            <span>{{ message }}</span>
            </div>
            {% endif %} 

        <header>
            <h1><span class="material-symbols-rounded">wifi_tethering</span> Send2me</h1>
            <p>connected to: <strong>{{ server_ip }}</strong></p>
        </header>
        <section class="upload-section">
            <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
                
                <div class="drop-zone" id="drop-zone">
                    <span class="material-symbols-rounded icon-large">cloud_upload</span>
                    <p class="drop-text">Drag your file here<br>or drop it</p>
                    
                    <input type="file" name="file" id="file-input" hidden>
                </div>

                <div id="loading" class="loading-container" style="display: none;">
                    <span class="material-symbols-rounded spin-animation">sync</span>
                    <p>Sending file...<br><small>Please, don't close this page</small></p>
                </div>
            </form>
        </section>      
    </main>

    <script src="/static/js/script.js"></script>
</body>
</html>